<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mybatis.mapper.UserMapper">
    <!--addUser-->
    <select id="addUser" parameterType="User" resultType="int">
        insert into user (userid,user_name,userage) values (#{userid},#{username},#{userage});
    </select>
</mapper>